/* Importation de la police Roboto */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Définition des principales couleurs */
:root {
  --text-color: #fafafa; /* (Texte presque blanc) */
  --background: rgb(31,31,31); /* (Noir un peu gris) */
  --background-button: #bebebe;
  --main-yellow: #F5C518;
  --active-yellow: #ffd950;
  --almost-black: #2d2d2d;
  --noir_transparent:#1d1d1db3;
}

* {
  color: var(--text-color);
}

.hide {
  display: none;
}

body {
  background-color: var(--background);
  font: 14pt Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 90%;
  margin: 40px auto;
}

/* Paragraphes "Aucun résultat..." et "Aucune recherche..." */
p.info-vide {
  font-style: italic;
}

/* Partie En-tête */
h1 {
  text-align: center;
  font-variant: small-caps;
  font-size: 2.5em;
  padding: 0 10vb 0 10vb; /*padding gauche et droit*/
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
      transform: scale(1);
  }
  100% {
      background-position: 100% 50%;
      transform: scale(1.01);
  }
}
.animated-text {
  background: var(--main-yellow);
  background: linear-gradient(
    to right,
    #fac800 20%,
    #c46d41 30%,
    #c06334 70%,
    #cd9001 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-size: 400% auto;
  animation: textShine 4.5s ease-in-out infinite alternate;
}

#explication {
  font-size: 1.2em;
  text-align: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Conteneur principal */
#conteneur {
  display: flex;
  flex: 1;
  margin: 30px auto;
}

/* Section Recherche (avec résultats) */
#section-recherche {
  margin-top: 0;
  flex: 1 1 auto;
}

#bloc-recherche {
  display: flex;
  margin: 0 auto;
  min-width: 450px;
  flex-direction: row;
}

#bloc-recherche > input[type="text"],
#bloc-recherche > button {
  display: block;
  font-size: 1.2em;
}

#searchBar {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

#btn-lancer-recherche {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

#searchBar {
  color: var(--almost-black);
  flex: 1;
  padding: 0.7em;
  border: 0.22em solid var(--main-yellow);
}

#bloc-recherche > button {
  padding: 0.8em 0.8em;
  /* Bordure invisible pour que le hover ne bouge pas le bouton */
  border: 1px solid var(--main-yellow);

  /* Par défaut, les boutons sont en gris
	 (S'ils sont "clicables", ils passent en jaune) */
  background-color: var(--background-button);
}

/* Apparences des boutons clicables */
#bloc-recherche > button.btn_clicable {
  background-color: var(--main-yellow);
}

#bloc-recherche > button:focus {
  /* Pour éviter un affichage disgracieux
		quand le bouton reste en focus */
  outline: 0 !important;
}

#bloc-recherche > button.btn_clicable:hover {
  cursor: pointer;
  border: 1px solid white;
}

#bloc-recherche > button.btn_clicable:active {
  background-color: var(--active-yellow);
}

/* Apparences des boutons clicables */
.badge > button {
  padding: 0.8em 0.8em;
  /* Bordure invisible pour que le hover ne bouge pas le bouton */
  border: 1px solid var(--main-yellow);
}

.badge > button.btn_clicable {
  background-color: var(--main-yellow);
}

.badge > button:focus {
  /* Pour éviter un affichage disgracieux
		quand le bouton reste en focus */
  outline: 0 !important;
}

.badge > button.btn_clicable:hover {
  cursor: pointer;
  border: 1px solid white;
}

.badge > button.btn_clicable:active {
  background-color: var(--active-yellow);
}

/* GIF de chargement (caché par défaut) */
#bloc-gif-attente {
  display: none;
  margin: 40px;
  text-align: center;
}

#bloc-resultats p.res::before {
  /* Affichage d'une flèche devant chaque résultat
		(Cf. https://unicode-table.com/fr/21E8/ ) */
  content: "\21E8\00A0";
}

#bloc-resultats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  padding: 25px;
  gap: 5px;
}

#bloc-resultats .poster {
  width: 30dvb;
  height: 50vb;

  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 8px;

  box-shadow: 0px 0px 8px black;

  transition: all 0.3s; 
}

.icon_lien {
  display: none;
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.links {
  transition: all 0.3s;
}

#bloc-resultats .links:hover {
  cursor: pointer;

  /* filter: brightness(70%); */
  transform: scale(1.03);
}

figure {
  margin: 0;
  position: relative;
}

.badge {
  position: absolute;
  display: none;
  top: 0;
  left: 0;

  color: white;
  background-color: var(--noir_transparent);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  padding: 0.7em;
  width: 100%;

  box-sizing: border-box;
}

#bloc-resultats figure:hover > .badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bloc-resultats figure:hover > .icon_lien {
  display: block;
}

/* Section de la barre de séparation */
#section-separation {
  border-left: 2px dashed var(--main-yellow);
  margin: 0 20px;
}

/* Section des recherches favorites */
#section-favoris {
  flex: 0 0 300px;
  margin-top: 0;
  margin-bottom: 20px;
}

#section-favoris h2 {
  margin-top: 0;
}

#section-favoris p {
  margin-bottom: 8px;
}

#liste-favoris li {
  margin-bottom: 8px;
  cursor: pointer;
}

#liste-favoris li span {
  text-decoration: underline;
}

#liste-favoris li span:hover {
  color: var(--main-yellow);
}

/* Media-query pour gérer l'affichage sur petit écran */
@media (max-width: 900px) {
  #conteneur {
    flex-direction: column-reverse;
  }

  #section-separation {
    border-top: 2px dashed var(--main-yellow);
    margin: 0 -10px 40px -10px;
  }

  #section-favoris {
    flex: 0;
  }
}
